/*Button up*/

.up{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: none;
    padding: 20px;
    background-color: #111377;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.up i{
    font-size: 30px;
    color: #fff;
    margin: auto;
}